a{text-decoration: none;}
ul{list-style: none;}
img{max-width: 100%}

body{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #fff;
}

header{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 3% 4%;
}

.logo{
	border-radius: 50%;
	width: 80px;
	height: 80px;
	background: url(../img/logo.jpg) center center/53px no-repeat;
	font-size: 0px;
}

.btn-menu{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	border: none;
	cursor: pointer;
	background: linear-gradient(148deg, #0f7bbf, #596c7a);
}

.menu{
	display: none;
	padding: 20px;
	position: absolute;
	background-color: #0f7bbfde;
    width: 100%;
    height: 100vh;
}

.menu span{
	font-size: 50px;
	color: #fff;
	display: flex;
	justify-content: end;
	cursor: pointer;
}

.menu ul{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.8rem;
	margin-top: 60px;
}

.menu ul li{ margin-bottom: 50px; }

.menu ul li a{
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all ease-in 0.2s;
}

.menu ul li a:hover{
	color:#d1d1d1d1;
}

.menu-nav-lg{
	display: none;
	margin-top: 30px; 
}

.menu-nav-lg nav ul{ display: flex; }

.menu-nav-lg nav ul li{ margin-right: 20px; }

.menu-nav-lg nav ul li a{
	background-color: #596c7a;
	padding: 10px;
	border-radius: 15px;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease-in;
}

.menu-nav-lg nav ul li a:hover{
	cursor: pointer;
	background-color: #3c4952;
}

figure{
	padding: 20px;
	width: 100%;
	background: url('/img/dog-00.jpg') 0px 0px/850px;
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
}

figure figcaption{ margin-bottom: 10px; }

figure figcaption h2, .servicos h4{
	font-weight: bold;
	font-size: 2.5rem;
	margin-bottom: 15px;
	color: #009cff;
}

figure .buttons{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

figure .buttons button{
	border: solid 1px black;
	border-radius: 10px;
	color: #fff;
	background-color: #009cff;
	display: flex;
    width: 100%;
	height: 50px;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
	font-size: 1.8rem;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
	transition: all 0.2s ease-in;
}

figure .buttons button span{ margin-left: 10px; }

figure .buttons .btn-sobre{
	color: #000;
	background-color: #bed9e8;
}

.btn-cadastrar:hover{
	background-color: rgb(0 117 191);
	cursor: pointer;
}

figure .buttons .btn-sobre:hover{
	background-color: #95acb9;
	cursor: pointer;
}

.servicos{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
	background-color: #82a5b8;
	color: #fff;
	margin-top: 15px;
	border-radius: 10px;
}

.servicos img{
	width: 250px;
	height: 150px;
	margin-bottom: 20px;
}

footer{
	margin-top: 15px;
	background-color: #596c7a;
	width: 100%;
	padding: 3% 4%;
}

footer .social-icones{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

@media(min-width: 568px){
	.logo{
		border-radius: 0;
		width: 203px;
    	background: url(../img/logo_large.jpg) center center/163px no-repeat;
	}

	.menu ul{
		display: grid; 
		grid-template-columns: 200px 200px 200px;
	}

	figure .buttons{ flex-direction: row; }

	figure .buttons button{
		width: 30%;
		margin-left: 30px;
	}
}

@media(min-width: 900px){
	.btn-menu{ display: none; }

	.menu-nav-lg{
		display: block; 
		border: 1px solid #000;
		padding: 20px;
		background-color: #bed9e8;
		border-radius: 5px;
	}

	header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	figure{
		display: flex;
		background-repeat: no-repeat;
    	height: 180px;
		margin: 0 auto;
		width: 90%;
		align-items: center;
		justify-content: center;
		background-size: 100% 400px;
	}

	figure p{
		width: 50%;
		margin: 0 auto;
	}

	figure .buttons{ flex-direction: column; }

	figure .buttons button{ width: 100%; }

	.servicos img{
		width: 459px;
    	height: 263px;
	}

	main{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.servicos{
		margin: 17px;
		width: 40%;
	}
}